[Unit]
Description=Fan control program made by Fischy (me)
After=local-fs.target

[Service]
User=root
Group=root
WorkingDirectory=/root
Type=exec
ExecStart=/usr/bin/fischys-fancontrol service
Environment="RUST_LOG=info"
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
